
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
@*@{
    string endcodedMessage = "<script>alert('day la dong code thu alert');</script>";
}
<span>@Html.Raw(endcodedMessage)</span>*@
</body>
</html>
